body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #4a90e2;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-box button {
    padding: 10px;
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.LoadBtn button {
    padding: 10px;
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}


.LoadBtn button:hover {
    background-color: #357ab7;
}

.saveBtn button {
    padding: 10px;
    border: 1px solid #000000;
    background-color: #117cff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.saveBtn button:hover {
    background-color: #357ab7;
}

.search-box button:hover {
    background-color: #357ab7;
}

.search-box button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.search-box .or {
    margin: 0 10px;
    color: #4a90e2;
}

.current-weather,

.forecast {
    background-color: #4a90e2;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-wrap: break-word;
    margin-bottom: 20px;

}

.current-weather h2 {
    margin: 0;
    font-size: 24px;
}

.current-weather p {
    margin: 5px 0;
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast-day {
    background-color: #ffffff;
    color: #4a90e2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: calc(25% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.forecast-day h3 {
    margin: 0 0 10px;
    font-size: 16px;
}

.forecast-day p {
    margin: 5px 0;
}

.current-location-btn {
    border-radius: 5px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #4a90e2;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.weather-details {
    flex: 1;
}

.weather-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-icon img {
    width: 80px;
    height: 80px;
}

.weather-icon p {
    margin: 5px 0 0;
    font-size: 14px;
    text-align: center;
}



.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-bottom: 0px;
}

.emailLabel {
    margin-bottom: 10px;
}

.modal input {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 91%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.modal button:hover {
    background-color: #45a049;
}