body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #4a90e2;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-box button {
    padding: 10px;
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #357ab7;
}

.search-box button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.current-weather,
.forecast {
    background-color: #4a90e2;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.current-weather h2 {
    margin: 0;
    font-size: 24px;
}

.current-weather p {
    margin: 5px 0;
}

.forecast-day {
    background-color: #ffffff;
    color: #4a90e2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: calc(50% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.forecast-day h3 {
    margin: 0 0 10px;
    font-size: 16px;
}

.forecast-day p {
    margin: 5px 0;
}

@media (min-width: 600px) {
    .forecast-day {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 900px) {
    .forecast-day {
        width: calc(25% - 20px);
    }
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.3s ease-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-bottom: 0px;
}

.emailLabel {
    margin-bottom: 10px;
}

.modal input {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 91%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.modal button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.report-dates {
    margin-top: 20px;
    transition: max-height 0.3s ease;
}

.report-dates h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.report-dates ul {
    list-style-type: none;
    padding: 0;
}

.report-dates li {
    margin-bottom: 10px;
}

.report-dates button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-dates button:hover {
    background-color: #0056b3;
}



.saveButton,
.loadButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.saveButton:hover,
.loadButton:hover {
    background-color: #45a049;
}



.Register {
    margin-bottom: 10px;
}

.Register button,
.LoadBtn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.Register button:hover,
.LoadBtn button:hover {
    background-color: #0056b3;

}